// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1278 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (850/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 108px */
            gap: clamp(3rem, 5vw, 6.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            border: none;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 456px - 598px */
            height: clamp(28.5rem, 46vw, 37.375rem);
            border-radius: (20/16rem);
            overflow: hidden;
            display: block;
            /* sends it to the bottom in the 2nd position */
            order: 2;
            position: relative;
            z-index: 1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 50%;
            background-color: #1a1a1a;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1278 {
        .cs-content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: (32/16rem);
        }

        .cs-flex {
            width: 45%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
        }

        .cs-button-solid {
            margin-right: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1278 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-content {
            width: 100%;
            max-width: (433/16rem);
            margin: 0;
            flex-direction: column;
            order: 2;
            row-gap: 0;
        }

        .cs-flex {
            width: 100%;
        }

        .cs-title {
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            width: 100%;
        }

        .cs-picture {
            max-width: (738/16rem);
            order: 1;
        }

        .cs-background {
            width: 60vw;
            height: 100%;
            /* 172px - 336px */
            margin-right: clamp(11.125rem, 30vw, 21rem);
            left: auto;
            right: 50%;
            top: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1278 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-background {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1329 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            gap: (16/16rem);
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 300px - 380px */
            height: clamp(18.75rem, 50vw, 23.75rem);
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            position: relative;
            text-align: left;
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
            grid-column: span 12;
            z-index: 1;

            &:hover {
                .cs-picture {
                    &::after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.2);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }

                .cs-number {
                    opacity: 1;
                    top: clamp(1.25rem, 2.3vw, 2rem);
                }

                .cs-arrow {
                    opacity: 0.12;
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            /* 20px - 32px */
            padding: clamp(1.25rem, 2.3vw, 2rem);
            /* we use flexbox here to grow the link to fit the whole item, making it clickable everywhere, no matter the size */
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            z-index: 1;

            &::after {
                /* hover overlay */
                content: "";
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                /* as we can't animate background gradients, we animate the change of opacity from 0 to 1 */
                transition: opacity 0.3s;
            }
        }

        .cs-number {
            /* 25px - 39px */
            font-size: clamp(1.5625rem, 2.7vw, 2.4375rem);
            font-weight: bold;
            color: var(--bodyTextColorWhite);
            opacity: 0;
            position: absolute;
            top: 0;
            transition:
                opacity 0.3s,
                top 0.3s;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0 0 (4/16rem) 0;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
            text-align: inherit;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(
                    top,
                    rgba(26, 26, 26, 0) 0%,
                    rgba(0, 0, 0, 0.76) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    top,
                    rgba(26, 26, 26, 0) 0%,
                    rgba(0, 0, 0, 0.76) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(
                    to bottom,
                    rgba(26, 26, 26, 0) 0%,
                    rgba(0, 0, 0, 0.76) 100%
                );
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                /* background color overlay on hover */
                content: "";
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(
                    top,
                    rgba(26, 26, 26, 0.4) 0%,
                    rgba(0, 0, 0, 0.8) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    top,
                    rgba(26, 26, 26, 0.4) 0%,
                    rgba(0, 0, 0, 0.8) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(
                    to bottom,
                    rgba(26, 26, 26, 0.4) 0%,
                    rgba(0, 0, 0, 0.8) 100%
                );
                opacity: 0;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-arrow {
            width: 100%;
            height: auto;
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s,
                transform 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1329 {
        padding-bottom: 0;

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
            gap: (40/16rem);
        }

        .cs-text {
            width: 50%;
        }

        .cs-title {
            margin: 0;
        }
    }
}

/* Desktop - 900px */
@media only screen and (min-width: 56.25rem) {
    #services-1329 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            height: (480/16rem);
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1329 {
            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}

                                                        

